body{
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.navbar nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar nav ul li{
    flex: 1;
}

.navbar nav ul li a{
    display: block;
    padding: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.navbar nav ul li a:hover{
    background-color: #555; /*change backgroundcolor when hover*/
    color: #ffcc00; /*change textcolor when hover*/

}

main{
    margin-top: 60px;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

